@font-face {
    font-family: 'Moonhouse';
    src: url(Resources/Fonts/moonhouse-font/Moonhouse-yE5M.ttf);
}

@font-face {
    font-family: 'Monster';
    src: url(Resources/Fonts/monster-bites-font/MonsterBitesItalic-1Gy52.ttf);
    font-weight: 10;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(11, 9, 22);
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
    color: white;
}

/* header */

.header {
    position: relative;
    padding-right: 1%;
    padding-left: 1%;
    display: flex;
    flex-direction: row;
    top: 2vh;
    height: 15vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(55, 150, 144, 0.351), rgba(180, 69, 69, 0.214));
    clip-path: polygon(0% 0%, 25% 0%, 35% 15%, 65% 15%, 75% 0%, 100% 0%, 100% 90%, 90% 90%, 85% 100%, 75% 100%, 75% 95%, 60% 90%, 40% 90%, 25% 95%, 25% 100%, 15% 100%, 10% 90%, 0% 90%);
    justify-content: space-between;
    align-items: center;
    border: 3px;
    border-style: solid;
    border-color: rgba(255, 217, 0, 0.327);
    z-index: 100;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(2em, 2vw, 3em);
    font-weight: bolder;
    background: linear-gradient(to left, gold, white); /* Orange to peach */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    font-family: 'Moonhouse';
    font-weight: 100;
}

header img {
    position: relative;
    height: 60%;
    width: 30%;
}

.oras {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 30%;
    color: white;
    z-index: 5;
    letter-spacing: 1px;
    word-spacing: 3px;
}

#live {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 20%;
    border: 3px;
    border-style: solid;
    border-color: rgb(117, 152, 20);
    font-size: clamp(2em, 1vw, 2vw);
    
}

#current-time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(2em, 2vw,4vw);
    color: white;
    
}

/* Animation Transition */
/* .player1Wins {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -100;
    background-color: blue;
    color: white;
    font-size: clamp(4rem, 5vw, 6rem);
    font-family: Helvetica;
    font-style: italic;
    justify-content: center;
    align-items: center;
    animation: play 0.3s ease-in-out;
    animation-play-state: paused;
}

.player1Wins.appear {
    animation-play-state: running;
} */

/* .player2Wins {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 50;
    background-color: red;
    color: white;
    font-size: clamp(4rem, 5vw, 6rem);
    font-family: Helvetica;
    font-style: italic;
    justify-content: center;
    align-items: center;
    animation: appear 0.3s ease-in-out;
} */

/* @keyframes play {
    from {
        opacity: 0;
    }
    to {
        opacity: 1 1s;
        z-index: 100;
    }
}

.container.disappear {
    animation-play-state: running;
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: -100;
    }
} */

/* main */

.main {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    /* background-image: url(Resources/Images/head_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
}

.container {
    position: relative;
    display: flex;
    height: 90vh;
    width: 90vw;
    background-color: rgba(40, 15, 15, 0.052);
    color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    animation: disappear 1s ease-in-out;
    animation-play-state: paused;
}

.Player {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 30%;
    align-items: center;
    justify-content: space-around;
}

.playername {
    font-size: clamp(1em, 1.5vw, 2em);
    font-family: Helvetica;
    font-style: italic;
}

.nameBlade {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow-x: hidden;
    width: 60%;
    font-size: clamp(0.75em, 1.25vw, 2em);
    font-family: 'Moonhouse';
    font-style: italic;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.pts {
    display: block;
    font-size: clamp(3em, 4vw, 5em);
    font-style: italic;
    color: aqua;
}

.record {
    font-size: clamp(1em, 1vw, 2em);
    font-style: italic;
    display: flex;
    flex-direction: row;
    border: 5px;
    border-style: double;
    border-color: black;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.scorePanel {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 27%;
    width: 60%;
    background-color: rgba(49, 49, 49, 0.329);
    gap: 8%;
    border-radius: 10px;
}

.box {
    position: relative;
    display: flex;
    height: 40%;
    width: 40%;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 5px solid rgba(247, 75, 75, 0.267);
    box-shadow: 0px 0px 10px 5px rgba(83, 216, 216, 0.514);
    cursor: pointer; 
    z-index: 15;
}

.box p {
    position: relative;
    display: flex;
    font-family: Helvetica;
    font-style: italic;
    font-size: clamp(1em, 1.25vw, 1.5em);
    color: white;
}
.search_container {
    display: flex;
    flex-direction: row;
    width: 55%;
    gap: 2%;
}

.searchBox {
    position: relative;
    z-index: 5;
    width: 90%;
    border-radius: 10px;
}

.submit {
    width: 25%;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
    background-color: green;
    color: white;
    cursor: pointer;
    z-index: 20;
}

.Reset {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(44, 44, 44);
    color: rgb(255, 255, 255);
    height: 5%;
    width: 20%;
    background-color: rgb(90, 3, 3);
    font-family: 'Moonhouse';
}

.mainsubmit {
    position: absolute;
    display: flex;
    height: 6%;
    width: 12%;
    background-color: rgb(90, 7, 7);
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    bottom: 0;
    
}

#submitRecord {
    font-family: 'Monster';
    background-color: transparent;
    font-size: clamp(1em, 1.1vw, 1.75em);
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
    text-shadow: 5px 5px 10px black;
}

.pointing {
    position: relative;
    display: flex;
    flex-direction: row;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    /* animation: text-pulse 2s infinite; */
}

.beyBg {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 100vw;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

.beyBg img {
    height: 100%;
    width: 100%;
    opacity: 0.1;
    z-index: -20;
}

.round {
    position: absolute;
    display: flex;
    top: 10%;
    height: 5.5%;
    width: 15%;
    z-index: 20;
    background-image: url(Resources/Images/round.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    font-family: 'Moonhouse';
    font-size: 1.25rem;
    filter: drop-shadow(4px 4px 8px rgb(0, 255, 0));
}

/* Blue Panel */
#bp { 
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 110%;
    width: 100%;
    z-index: 1;
}

#nameBey1 {
    color: rgb(238, 238, 238);
    text-shadow: 1.5px 1px 10px rgb(55, 192, 247);
}

.beyInsignia1 {
    position: relative;
    display: block;
    height: 20%;
    width: 30%;
    border-radius: 50%;
    background-color: rgb(68, 102, 68);
    justify-content: center;
    align-items: center;
    background-image: url(Resources/Images/sticker/Agent\ 4\ [Character\ rendition\ by\ anonymous\ artist\,\ posing\ by\ me].png);
    background-size: 100%;
    background-position: center;
    animation: pulse 4s linear infinite;
}

#recordPlayer1 {
    position: relative;
    display: flex;
    height: 5%;
    width: 70%;
    left: 5%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.2);
}



/* Red Panel */
#rp {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 110%;
    width: 100%;
    z-index: 1;
}

.beyInsignia2 {
    position: relative;
    display: block;
    height: 20%;
    width: 30%;
    border-radius: 50%;
    background-color: rgb(68, 102, 68);
    justify-content: center;
    align-items: center;
    background-image: url(Resources/Images/sticker/Agent\ 8\ [Character\ rendition\ by\ anonymous\ artist\,\ posing\ by\ me].png);
    background-size: 100%;
    background-position: center;
    animation: pulse 4s linear infinite;
}

#nameBey2 {
    color: rgb(238, 238, 238);
    text-shadow: 1.5px 1px 10px rgb(255, 60, 0);
}

@keyframes pulse {
    0%{
        box-shadow: 0;
    }
    25%{
        box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.1);
    }
    50%{
        box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.4);
    }
    75%{
        box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.4);
    }
    100%{
        box-shadow: 0;
    }
}

@keyframes text-pulse {
    0%{
        text-shadow: 0;
    }
    25%{
        text-shadow: 0 0 15pxrgba(255, 255, 255, 0.1);
    }
    50%{
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
    }
    75%{
        text-shadow: 0 0 45px rgba(255, 255, 255, 0.4);
    }
    100%{
        text-shadow: 0 0 60px white;
    }
}

#recordPlayer2 {
    position: relative;
    display: flex;
    height: 5%;
    width: 70%;
    right: 5%;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 36, 36, 0.25);
}









