* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(11, 9, 22);
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
    color: white;
}

/* header */

.header {
    position: relative;
    padding-right: 1%;
    padding-left: 1%;
    display: flex;
    flex-direction: row;
    top: 2vh;
    height: 15vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(55, 150, 144, 0.351), rgba(180, 69, 69, 0.214));
    clip-path: polygon(0% 0%, 25% 0%, 35% 15%, 65% 15%, 75% 0%, 100% 0%, 100% 90%, 90% 90%, 85% 100%, 75% 100%, 75% 95%, 60% 90%, 40% 90%, 25% 95%, 25% 100%, 15% 100%, 10% 90%, 0% 90%);
    justify-content: space-between;
    align-items: center;
    border: 3px;
    border-style: solid;
    border-color: rgba(255, 217, 0, 0.327);
    z-index: 100;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(2em, 2vw, 3em);
    font-weight: bolder;
    background: linear-gradient(to left, gold, white); /* Orange to peach */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

header img {
    position: relative;
    height: 60%;
    width: 30%;
}

.oras {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 30%;
    color: white;
    z-index: 5;
    letter-spacing: 1px;
    word-spacing: 3px;
}

#live {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 20%;
    border: 3px;
    border-style: solid;
    border-color: rgb(117, 152, 20);
    
}

#current-time {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    
}

/* main */

.main {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    /* background-image: url(Resources/Images/head_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
}

.container {
    position: relative;
    display: flex;
    height: 90vh;
    width: 90vw;
    background-color: rgba(40, 15, 15, 0.052);
    color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
}

.Player {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 30%;
    align-items: center;
    justify-content: space-around;
}

#bp {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 110%;
    width: 100%;
    z-index: 1;
}

#rp {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 110%;
    width: 100%;
    z-index: 1;
}

.playername {
    font-size: clamp(1em, 1.5vw, 2em);
    font-family: Helvetica;
    font-style: italic;
}

.beyInsignia {
    position: relative;
    display: flex;
    height: 20%;
    width: 30%;
    border-radius: 50%;
    background-color: green;
    justify-content: center;
    align-items: center;
}

#recordPlayer1 {
    position: relative;
    display: flex;
    height: 8%;
    width: 70%;
    left: 5%;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

#recordPlayer2 {
    position: relative;
    display: flex;
    height: 10%;
    width: 70%;
    right: 5%;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 36, 36);
}

.scorePanel {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 60%;
    background-color: yellow;
    gap: 1%;
}

.box {
    position: relative;
    display: flex;
    height: 30%;
    width: 22%;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
}

.box p {
    position: relative;
    display: flex;
    font-family: Helvetica;
    font-size: clamp(0.5em, 0.85vw, 1em);
}